{% extends "LaCommentBundle:Alert:layout.html.twig" %}

{% form_theme form 'LaCommentBundle:Alert:bootstrap_form_theme.html.twig' %}

{% block content %}
    <div class="comment_abuse">
        <p>
            Vous avez repéré un commentaire avec un contenu illégal ou portant atteinte à vos droits ?<br>
            Afin de nous aider à traiter votre alerte, merci de nous décrire précisément ce qui vous paraît illégal dans ce
            message.
        </p>

        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.description) }}
            {{ form_row(form.captcha) }}
            {{ form_row(form.submit, {attr: {class: 'send'}}) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}
