{% block subject %}
    Vous avez reçu un message
{% endblock %}

{% block body_text %}
    Bonjour,<br><br>

    Nous vous informons que vous avez reçu un message de {{ shop_name }} :<br><br>

    ------<br>
    Sujet du message : {{ message_subject }} <br><br>
    
    Pour des raisons de sécurité, vous devez vous connecter à votre compte {{ operator_link }}, et vous rendre dans la partie "Mon compte / mes messages" pour voir son contenu. <br>
    -----<br><br>
    
    Pour toute demande d'assistance, n'hésitez pas à contacter notre service client à {{ customer_service_phone }}<br><br>
    
    Merci de votre confiance et à très bientôt !<br><br>
    
    --<br>
    L'équipe de {{ operator_name }}<br>
    {{ operator_link }}
{% endblock %}

{% block body_html %}
    <html>
        <head><title>Vous avez reçu un message</title></head>
        <body>
            <p>
                Bonjour,<br><br>

                Nous vous informons que vous avez reçu un message de {{ shop_name }} :<br><br>

                ------<br>
                Sujet du message : {{ message_subject }} <br><br>
                
                Pour des raisons de sécurité, vous devez vous connecter à votre compte {{ operator_link }}, et vous rendre dans la partie "Mon compte / mes messages" pour voir son contenu. <br>
                -----<br><br>
                
                Pour toute demande d'assistance, n'hésitez pas à contacter notre service client à {{ customer_service_phone }}<br><br>
                
                Merci de votre confiance et à très bientôt !<br><br>
                
                --<br>
                L'équipe de {{ operator_name }}<br>
                {{ operator_link }}
            </p>
        </body>
    </html>
{% endblock %}

