{% block subject %}
    Vous avez reçu un message à propos de la commande {{ order_id }}
{% endblock %}

{% block body_text %}
    Bonjour chèr(e) {{ shop_name }},<br><br>

    Nous vous informons que vous avez reçu un message sur {{ operator_name }} concernant la commande n° {{ order_id }} :<br><br>

    ------<br>
    Sujet du message : {{ message_subject }} <br><br>

    Pour des raisons de sécurité, vous devez vous connecter à votre extranet Données de santé pour accéder au contenu du message.<br>
    -----<br><br>

    N'oubliez pas que vos réponses aux questions posées par les internautes vous permettent de rassurer vos clients et d'améliorer vos évaluations.<br>
    <br>
    Merci de votre confiance et à très bientôt !<br><br>

    --<br>
    L'équipe de {{ operator_name }}<br>
    {{ operator_link }}
{% endblock %}

{% block body_html %}
    <html>
        <head><title>Vous avez reçu un message à propos de la commande {{ order_id }}</title></head>
        <body>
            <p>
                Bonjour chèr(e) {{ shop_name }},<br><br>

                Nous vous informons que vous avez reçu un message sur {{ operator_name }} concernant la commande n° {{ order_id }} :<br><br>

                ------<br>
                Sujet du message : {{ message_subject }} <br><br>
    
                Pour des raisons de sécurité, vous devez vous connecter à votre extranet Données de santé pour accéder au contenu du message.<br>
                -----<br><br>

                N'oubliez pas que vos réponses aux questions posées par les internautes vous permettent de rassurer vos clients et d'améliorer vos évaluations.<br>
                <br>
                Merci de votre confiance et à très bientôt !<br><br>

                --<br>
                L'équipe de {{ operator_name }}<br>
                {{ operator_link }}
            </p>
        </body>
    </html>
{% endblock %}

