{% block subject %}
    Vous avez reçu un message à propos de la commande {{ order_id }}
{% endblock %}

{% block body_text %}
    Bonjour,<br><br>

    Nous vous informons que vous avez reçu un message de {{ shop_name }} concernant la commande n° {{ order_id }}<br><br>

    ------<br>
    Sujet du message : {{ message_subject }} <br><br>

    Pour des raisons de sécurité, vous devez vous connecter sur {{guest_registration_link}} et vous rendre dans la partie "Mon compte / Mes commandes" pour consulter le contenu du message.<br>
    -----<br><br>

    Pour toute demande d'assistance, n'hésitez pas à contacter notre service client à {{ customer_service_phone }}<br><br>

    Merci de votre confiance et à très bientôt !<br><br>

    --<br>
    L'équipe de {{ operator_name }}<br>
    {{ operator_link }}
{% endblock %}

{% block body_html %}
    <html>
        <head><title>Vous avez reçu un message à propos de la commande {{ order_id }}</title></head>
        <body>
            <p>
                Bonjour,<br><br>

                Nous vous informons que vous avez reçu un message de {{ shop_name }} concernant la commande n° {{ order_id }}<br><br>

                ------<br>
                Sujet du message : {{ message_subject }} <br><br>

                Pour des raisons de sécurité, vous devez vous connecter sur Doctipharma <br>
                <a href="{{guest_registration_link}}">>> Cliquez ici pour vous connecter <<</a> (si vous n'avez pas créé de compte, on vous invitera à renseigner un mot de passe pour le créer et pouvoir accéder à votre messagerie sécurisée)<br>
                ------<br>

                Pour toute demande d'assistance, n'hésitez pas à contacter notre service client à {{ customer_service_phone }}<br><br>

                Merci de votre confiance et à très bientôt !<br><br>

                --<br>
                L'équipe de {{ operator_name }}<br>
                {{ operator_link }}
            </p>
        </body>
    </html>
{% endblock %}

