.comment_abuse p {
    font-size: 12px;
}
.form-control {
    border-radius: 0px;
}
.form-horizontal .control-label {
    font-family: "lucidagrande-bold";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

button.add, button.send {
    background-color: #fa913e;
    color: #ffffff;
    font-size: 15px;
    font-family: "lucidagrande-bold";
    border: none;
    text-transform: uppercase;
    width: 100%;
    height: 43px;
    line-height: 42px;
    padding: 0;
    text-align: left;
    border-radius: 3px;
}
button.send {
    margin: 0;
    padding: 0 23px;
    width: auto;
    float: right;
}
