@font-face {
  font-family: "lucidagrande";
  src: url(../fonts/lucidagrande.ttf) format('truetype'),
       url(../fonts/lucidagrande.woff) format('woff'),
       url(../fonts/lucidagrande.eot) format('embedded-opentype'),
       url(../fonts/lucidagrande.svg) format('svg');
}
@font-face {
  font-family: "lucidagrande-bold";
  src: url(../fonts/lucidagrande-bold.ttf) format('truetype'),
       url(../fonts/lucidagrande-bold.woff) format('woff'),
       url(../fonts/lucidagrande-bold.eot) format('embedded-opentype'),
       url(../fonts/lucidagrande-bold.svg) format('svg');
}
@font-face {
  font-family: "times";
  src: url(../fonts/timesltstd.ttf) format('truetype'),
       url(../fonts/timesltstd.woff) format('woff'),
       url(../fonts/timesltstd.eot) format('embedded-opentype'),
       url(../fonts/timesltstd.svg) format('svg');
}
@font-face {
  font-family: "times-bold";
  src: url(../fonts/timesltstd-bold.ttf) format('truetype'),
       url(../fonts/timesltstd-bold.woff) format('woff'),
       url(../fonts/timesltstd-bold.eot) format('embedded-opentype'),
       url(../fonts/timesltstd-bold.svg) format('svg');
}
@font-face {
    font-family: "times-bolditalic";
    src: url(../fonts/timesltstd-bolditalic.ttf) format('truetype'),
    url(../fonts/timesltstd-bolditalic.woff) format('woff'),
    url(../fonts/timesltstd-bolditalic.eot) format('embedded-opentype'),
    url(../fonts/timesltstd-bolditalic.svg) format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
    url('../fonts/myriadpro-regular.woff2') format('woff2'),
    url('../fonts/myriadpro-regular.woff') format('woff'),
    url('../fonts/myriadpro-regular.ttf') format('truetype'),
    url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/myriadpro-semibold.eot');
    src: url('../fonts/myriadpro-semibold.eot') format('embedded-opentype'),
    url('../fonts/myriadpro-semibold.woff2') format('woff2'),
    url('../fonts/myriadpro-semibold.woff') format('woff'),
    url('../fonts/myriadpro-semibold.ttf') format('truetype'),
    url('../fonts/myriadpro-semibold.svg#MyriadProSemibold') format('svg');
}
@font-face {
    font-family: 'MyriadProItalic';
    src: url('../fonts/myriadpro-it.eot');
    src: url('../fonts/myriadpro-it.eot') format('embedded-opentype'),
    url('../fonts/myriadpro-it.woff2') format('woff2'),
    url('../fonts/myriadpro-it.woff') format('woff'),
    url('../fonts/myriadpro-it.ttf') format('truetype'),
    url('../fonts/myriadpro-it.svg#MyriadProItalic') format('svg');
}
