{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}Admin commentaires{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="form-horizontal">

        <div class="form-group row">
            <label for="username" class="control-label col-lg-3 required">
                {{ 'login.username'|trans({}, 'security') }}
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="control-label col-lg-3 required">
                {{ 'login.password'|trans({}, 'security') }}
            </label>
            <div class="col-lg-4">
                <input type="password" class="form-control" id="password" name="_password" />
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <div class="form-group row">
            <div class="col-lg-offset-3 col-lg-4">
                <button type="submit" class="btn btn-success" id="login-button">{{ 'login.submit'|trans({}, 'security') }}</button>
            </div>
        </div>

    </form>

    <p class="copy">Copyright &copy; 2014 Doctipharma</p>

{% endblock %}